// ==============================
// Color
// ==============================

// palette START
$palette-brown: #655D4D;
$palette-beige: #F2EADB;
// palette END

$color-global: $palette-brown;
$color-global-bg: $palette-beige;
$color-global-border: $palette-brown;