.p-works {
    margin-top: calc(40/320*100vw);
    padding-bottom: calc(80/320*100vw);
    @include pc {
        margin-top: 255px;
        padding-bottom: 125px;
    }
    .p-works__contents {
        .p-works__head {
            width: 100%;
            @include pc {
                padding-top: 30px;
                position: fixed;
                top: 0;
                z-index: 100;
            }
        }
        .p-works__body {
            margin-top: calc(20/320*100vw);
            @include pc {
                margin-top: 0;
            }
            .p-works__list {
                .p-works__item {
                    &:nth-child(n+2) {
                        margin-top: calc(40/320*100vw);
                        @include pc {
                            margin-top: 80px;
                        }
                    }
                    .p-works__itemLink {
                        text-decoration: none;
                        @include pc {
                            display: flex;
                            align-items: end;
                        }
                        .image {
                            position: relative;
                            width: calc(290/320*100vw);
                            @include pc {
                                width: calc(680/1280*100vw);
                            }
                            &::after {
                                content: '';
                                background-color: #EDD6A9;
                                display: block;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                mix-blend-mode: multiply;
                                height: 100%;
                                width: 100%;
                            }
                            .link-icon {
                                position: absolute;
                                right: calc(-30/320*100vw);
                                bottom: 0;
                                height: calc(60/320*100vw);
                                width: calc(60/320*100vw);
                                @include pc {
                                    display: none;
                                }
                            }
                        }
                        .text-brock {
                            border-bottom: 1px solid $color-global-border;
                            margin-top: calc(4/320*100vw);
                            margin-left: calc(30/320*100vw);
                            padding-right: calc(30/320*100vw);
                            padding-bottom: calc(10/320*100vw);
                            width: calc(290/320*100vw);
                            @include pc {
                                margin-top: 0;
                                margin-left: calc(40/1280*100vw);
                                padding-right: 0;
                                padding-bottom: calc(40/1280*100vw);
                                width: calc(480/1280*100vw);
                            }
                            .title {
                                font-size: calc(20/320*100vw);
                                font-weight: 300;
                                line-height: calc(24/20);
                                text-align: right;
                                @include pc {
                                    font-size: 30px;
                                    line-height: calc(37/30);
                                    text-align: left;
                                }
                            }
                            .title,
                            .taglist,
                            .url {
                                margin-bottom: 2px;
                                @include pc {
                                    margin-bottom: 5px;
                                }
                            }
                            .taglist,
                            .url,
                            .date {
                                font-size: calc(12/320*100vw);
                                font-weight: 300;
                                line-height: calc(14/12);
                                text-align: right;
                                @include pc {
                                    font-size: 20px;
                                    line-height: calc(24/20);
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}