block value
doctype html
html(lang='ja')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title #{title}
        meta(name='description', content=description)
        meta(name='keywords', content=keywords)
        link(rel="icon", href="/assets/img/common/favicon.png")

        link(rel="stylesheet" href="/assets/css/style.min.css")
        script(type="module" src="/assets/js/bundle.min.js")

    body
        #js-cursor.c-cursor
        #js-follower.c-follower
        block content
